.item {
    display: flex;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.isOnline {
    background-color: green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.isOffline {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-left: 10px;
}

.name {
    margin-left: 10px;
    font-size: 30px;
}
