.statistics {
    width: 500px;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.title {
    padding: 40px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.statList {
    display: flex;
}
.item {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.label {
    color: white;
    font-size: 20px;
    text-align: center;
}
.percentage {
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
